* {
  margin: 0;
  padding: 0;
}

.box {

  max-height: 100vh;
  max-width: 100%;
  background-color: #d0bdf4;
  height: 15rem;
  width: 50rem;

  border-radius: 20px;
  box-sizing: border-box;
}

.table_class {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vh;
  width: 80%;
  overflow-y: auto;
}

.row {
  border: 1px solid black;
}

.data {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

.cell {
  padding: 8px;
  text-align: center;
}

tfoot {
  font-weight: bold;
  text-align: right;
  border-top: 1px solid black;
}

tfoot td {
  padding-top: 8px;
}